<% include ./partial/header %> <% include ./partial/studfunction %>
    <div class="col-sm-6" style="    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 431px;
    margin-top: -181px; text-align: -webkit-center;">
      <div class="thumbnail">
        <img  style="height:150px;width:150px;border-radius: 100%" src="../images/uploads/<%=faculty.image%>" />
        <h1><strong>Names:</strong> <%=faculty.name%></h1>
        <h4><strong>Type:</strong><%=faculty.type%></h4>
        <h4>Username: <%=faculty.username%></h4>
        <h4>Department:<%=faculty.department%></h4>
        <h4>OL Count: <%=faculty.leaveCounts.ol%></h4>
        <h4>DL Count: <%=faculty.leaveCounts.dl%></h4>
        <h4>ML Count: <%=faculty.leaveCounts.ml%></h4>
        <h4>CD Count: <%=faculty.leaveCounts.cd%></h4>
      </div>
        <a href="/facimage">upload Profile pic</a><br><br>
      <a href="/facimage">Change Profile pic</a><br><br>
      <a class="btn btn-warning" href="/faculty/<%=faculty._id%>/edit">Edit</a>
    </div>
  </div>
</div>
<% include ./partial/footer %>
